# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Go
*.exe
*.test
*.out
*.mod.cache
*.tmp
*.a
*.o
vendor/
bin/
pkg/
*.log
*.prof
*.sum

# Docker
*.dockerignore
Dockerfile*
.docker/
docker-compose*.yml
docker-compose.override.yml
**/node_modules/

# General
*.log
*.tmp
*.swp
*.bak
*.old
*.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
.idea/
*.iml
.vscode/
*.code-workspace
*.env
*.local
*.pyc
*.pyo
__pycache__/
*.lock
*.seed
*.backup
*.orig
*.rej
*.sql~
*.sqlite
*.sqlite3
*.sublime-*
*.swo
*.swn
*.gz
*.7z
*.zip
*.tar
*.rar
*.tgz
*.xz
*.bz2
*.lzma
*.bak
*.swp
*.out
*.old
*.~*

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~
